In [1]:
odd = [1, 3, 5, 7, 9]

In [2]:
odd

[1, 3, 5, 7, 9]

In [7]:
a = []
b = [1, 2, 3]
c = ["Life", "is", "too", "short"]
d = [1,2, "Life", "is"]
e = [1, 2, ['Life', 'is']]

In [8]:
a = [1,2,3]

In [9]:
a

[1, 2, 3]

In [10]:
a[0] + a[2]

4

In [11]:
a = [1,2,3,['a','b','c']]

In [12]:
a[0]

1

In [13]:
a[-1]

['a', 'b', 'c']

In [14]:
a[-1][2]

'c'

In [15]:
a = [1,2,3,4,5]

In [16]:
a[0:2]

[1, 2]

In [19]:
a = [1,2,3]
b = [4,5,6]

In [20]:
a+b

[1, 2, 3, 4, 5, 6]

In [21]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
len(a) #길이 length

3

In [25]:
a = [1,2,3]

In [26]:
a[2] = 4

In [27]:
a

[1, 2, 4]

In [28]:
del a[1] #삭제 (리스트라 가능)

In [32]:
a

[1, 4]

In [33]:
a = [1,2,3,4,5]

In [34]:
del a[2:]

In [35]:
a

[1, 2]

In [36]:
a = [1,2,3]

In [37]:
a.append([5,6]) #요소 추가(append)

In [38]:
a

[1, 2, 3, [5, 6]]

In [39]:
a =[1,4,3,2]

In [40]:
a.sort() #순서대로 정렬

In [41]:
a

[1, 2, 3, 4]

In [42]:
a = ['a', 'b', 'c']

In [43]:
a.reverse() #문자도 정렬가능

In [44]:
a

['c', 'b', 'a']

In [45]:
a = [2,3,1]

In [46]:
a.sort()

In [47]:
a.reverse()

In [48]:
a

[3, 2, 1]

In [51]:
a = [2,3,1]

In [53]:
a.sort(reverse = True) #한 줄로 숫자 정렬

In [54]:
a

[3, 2, 1]

In [55]:
a = [1,2,3]

In [56]:
a.index(3) #위치

2

In [58]:
##a.index(0) 없기 때문에 에러

In [59]:
a.insert(0,4) #삽입

In [60]:
a

[4, 1, 2, 3]

In [61]:
a = [1,2,3,1,2,3]

In [62]:
a.remove(3) #제거

In [63]:
a

[1, 2, 1, 2, 3]

In [64]:
a.remove(3)

In [65]:
a

[1, 2, 1, 2]

In [66]:
 a = [1,2,3]

In [67]:
a.pop() #맨 마지막을 뽑아내고 삭제

3

In [68]:
a

[1, 2]

In [69]:
a = [1,2,3,1]
a.count(1) # 요소의 개수 세기

2

In [70]:
#append 는 리스트 안에 리스트로 들어감
#extend 는 리스트 안에 그냥 들어감

In [71]:
 a = [1,2,3]

In [77]:
a.extend([4,5])
a

[1, 2, 3, 4, 5, 4, 5, 6, 7, 4, 5]

In [80]:
a = [1,2,3,4,5]

In [81]:
b = [6,7]

In [82]:
a.extend(b)

In [83]:
a

[1, 2, 3, 4, 5, 6, 7]

In [84]:
##########################
### 튜플
##########################
# 리스트는 [] 튜플은 ()
# 튜플은 수정 삭제 불가

In [85]:
t1 = ()

In [86]:
t2 = (1,) #원소가 하나 일 때 무조건 ,를 넣는다

In [88]:
t3 = (1,2,3)
t4 = 1,2,3 #괄호 생략 가능
t5 = ('a', 'b', ('ab','cd'))

In [89]:
t1 = (1,2,'a','b')

In [91]:
#del t1(0) 삭제 불가

In [92]:
t1 = (1, 2, 'a', 'b') #슬라이싱 가능
t1[1:]

(2, 'a', 'b')

In [93]:
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t1 + t2 #더하기 가능

(1, 2, 'a', 'b', 3, 4)

In [94]:
t2 = (3, 4)
t2 * 3 #곱하기 가능

(3, 4, 3, 4, 3, 4)

In [96]:
t1 = (1, 2, 'a', 'b')
len(t1) #길이 구하기 가능

4

In [97]:
##########################
### 딕셔너리
##########################

In [98]:
a = {1:'hi'}

In [99]:
a = {'a':[1,2,3]}

In [100]:
a

{'a': [1, 2, 3]}

In [101]:
a = {1:'a'}

In [102]:
a

{1: 'a'}

In [103]:
a[2] = 'b'

In [104]:
a

{1: 'a', 2: 'b'}

In [105]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 3: [1, 2, 3]}

In [106]:
del a[1] #쌍으로 삭제됨
a

{2: 'b', 3: [1, 2, 3]}

In [107]:
grade = {'pey' :10, 'Julliet' :99}
grade['pey']

10

In [108]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic['name']

'pey'

In [109]:
dic['phone']

'0119993323'

In [110]:
dic['birth']

'1118'

In [111]:
# 주의사항 key 값은 리스트를 쓸 수 없음. 튜플은 가능

In [112]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys() # 키 값만 뽑을 수 있음

dict_keys(['name', 'phone', 'birth'])

In [113]:
 a.values() #밸류 값만 뽑을 수 있음

dict_values(['pey', '0119993323', '1118'])

In [114]:
a.items() # 키와 벨류를 둘 다 뽑을 수 있음

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [115]:
###############################
#### set 집합 자료형
###############################

In [116]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [117]:
s2 = set("Hello")  
s2 #set은 중복을 허용하지 않고 순서가 없다. (index, slice 불가) 
   #필터의 역할로 사용됨

{'H', 'e', 'l', 'o'}

In [119]:
s1 = set([1,2,3])
l1 = list(s1)

In [120]:
l1

[1, 2, 3]

In [121]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [122]:
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1 & s2

{4, 5, 6}

In [123]:
s1.intersection(s2) #교집합

{4, 5, 6}

In [124]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [125]:
s1.union(s2) #합집합

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [126]:
s1 - s2

{1, 2, 3}

In [127]:
s2 - s1

{7, 8, 9}

In [129]:
s1.difference(s2) #차집합

{1, 2, 3}

In [130]:
s2.difference(s1)

{7, 8, 9}

In [131]:
s1 = set([1,2,3])
s1.add(4) #set은 더하기 가능
s1

{1, 2, 3, 4}

In [132]:
s1 = set([1,2,3])
s1.update([4,5,6])
s1

{1, 2, 3, 4, 5, 6}

In [133]:
s1.remove(2)

In [134]:
s1

{1, 3, 4, 5, 6}

In [135]:
########################
####  bool
########################
# 참 과 거짓 True or False 반드시 대문자로 시작해야함

In [136]:
a = True
b = False 
type(a)

bool

In [137]:
type(b)

bool

In [138]:
1 == 1

True

In [139]:
1 == 2

False

In [140]:
a = [1,2,3,4]
while a:
    print(a.pop())

4
3
2
1

In [142]:
if[1]:
    print('참')
else:
    print('거짓')

참

In [143]:
bool('python')

True

In [144]:
bool('')

False

In [145]:
bool([1,2,3])

True

In [146]:
bool([])

False

In [147]:
bool(0)

False

In [148]:
bool(1)

True

In [149]:
국어 = 80
영어 = 75
수학 = 55
(국어+영어+수학)/3

70.0

In [156]:
if(0):
    print('짝수')
else:
    print('홀수')
13 % 2

홀수

1

In [160]:
hong = '881120-1068234'
junum = hong[:6]
num = hong[7:]
junum

'881120'

In [161]:
num

'1068234'

In [162]:
############################
###### if
############################

In [163]:
5 != 5 #!= 같지않다

False

In [165]:
money = 5000
if money >= 3000:
    print('택시타자')
else:
    print('걸어가자')

택시타자

In [167]:
money = 2000
card = True
if money >= 3000 and card:
    print('택시타자')
else:
    print('걸어가자')

걸어가자

In [168]:
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
    print('택시타자')
else:
    print('걸어가자')

택시타자

In [171]:
pocket = ['paper', 'cellphone']
card = True

if 'money' in pocket: pass
else: print('카드를 써라')
# if 'money' in pocket:
#     print('택시타자')
# elif card:
#     print('택시를 타라')
# else:
#     print('걸어가라')

카드를 써라

In [174]:
score = 70
if score >= 60:
    message = 'success'
else:
    message = 'failure'
    
    
#message = 'success' if socre >= 60 else 'failure'

In [175]:
###################################
### while
###################################

In [183]:
treeHit = 0
while treeHit < 10:
    treeHit = treeHit + 1
    print('나무를 %d번 찍었습니다' %treeHit)
    if treeHit == 10:
        print('나무 넘어갑니다')

나무를 1번 찍었습니다
나무를 2번 찍었습니다
나무를 3번 찍었습니다
나무를 4번 찍었습니다
나무를 5번 찍었습니다
나무를 6번 찍었습니다
나무를 7번 찍었습니다
나무를 8번 찍었습니다
나무를 9번 찍었습니다
나무를 10번 찍었습니다
나무 넘어갑니다

In [184]:
prompt = """
1. Add
2. Del
3. List
4. Quit
"""

In [185]:
number = 0
while number != 4:
    print(prompt)
    number = int(input()) #input으로 들어가는 애들은 무조건 string 이다

1. Add
2. Del
3. List
4. Quit

1

1. Add
2. Del
3. List
4. Quit

2

1. Add
2. Del
3. List
4. Quit

3

1. Add
2. Del
3. List
4. Quit

4

In [186]:
#while 은 몇번 반복 시킬지 모를때 주로 사용
#for 은 몇번 반복 시킬지 알때

In [187]:
coffee = 10
money = 300
while money:
    print("돈을 받았으니 커피를 줍니다.")
    coffee = coffee -1
    print("남은 커피의 양은 %d개입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
        break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [188]:
coffee = 10
while True:
    money = int(input("돈을 넣어 주세요: "))
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

돈을 넣어 주세요: 200
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 10개 입니다.
돈을 넣어 주세요: 100
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 10개 입니다.
돈을 넣어 주세요: 300
커피를 줍니다.
돈을 넣어 주세요: 400
거스름돈 100를 주고 커피를 줍니다.
돈을 넣어 주세요: 1000
거스름돈 700를 주고 커피를 줍니다.
돈을 넣어 주세요: 5000
거스름돈 4700를 주고 커피를 줍니다.
돈을 넣어 주세요: 9000
거스름돈 8700를 주고 커피를 줍니다.
돈을 넣어 주세요: 9900
거스름돈 9600를 주고 커피를 줍니다.
돈을 넣어 주세요: 9999
거스름돈 9699를 주고 커피를 줍니다.
돈을 넣어 주세요: 6666
거스름돈 6366를 주고 커피를 줍니다.
돈을 넣어 주세요: 1111
거스름돈 811를 주고 커피를 줍니다.
돈을 넣어 주세요: 123
돈을 다시 돌려주고 커피를 주지 않습니다.
남은 커피의 양은 1개 입니다.
돈을 넣어 주세요: 555
거스름돈 255를 주고 커피를 줍니다.
커피가 다 떨어졌습니다. 판매를 중지 합니다.

In [190]:
a = 0
while a < 10:
    a = a + 1
    if a % 2 == 0 :continue
    print(a)

1
3
5
7
9

In [191]:
#######################################
##### for
#######################################

In [193]:
test_list = ['one', 'two', 'three']
for i in test_list: 
    print(i)

one
two
three