In [1]:
a = 1

In [3]:
b = 2

In [4]:
a + b

3

In [9]:
a = 'Python'

In [10]:
print(a)

Python

In [12]:
#if = 핵심

In [14]:
a = 3
if a > 1:
    print("a is greater than 1")

a is greater than 1

In [15]:
a = 1
if a > 1:
    print("a is greater than 1")

In [16]:
for a in [1,2,3]:
    print(a)

1
2
3

In [17]:
# for while 둘다 반복이다. 차이점은 for는 몇 번 반복이 명확할 때 사용, while은 명확하지 않을 때(but 명확하게도 가능)

In [25]:
i = 0

while i < 3:
    i = i + 1
    print(i)

1
2
3

In [30]:
def add(a, b): #함수 정의
    return a + b

In [31]:
add(3, 4)

7

In [32]:
############################################
#        숫자형 복습
############################################
# % 는 나머지 연산자  ex) 7 % 3 = 1
# / 는 몫 소숫점 까지 ex) 7 / 4  = 1.75
# // 는 몫 정수만     ex) 7 // 4 = 1

#### 홀 짝수, 배수 찾기
# 12 % 2 = 0 나머지가 0이면 짝수
# 13 % 2 = 1 나머지가 1이면 홀수
# 30 % 5 = 0 특정수를 어떤수로 나누어 나머지가 0이면 그 수의 배수

In [33]:
############################################
#        문자형 
############################################

In [34]:
"Hellow World"

'Hellow World'

In [35]:
'Python is fun'

'Python is fun'

In [36]:
"""Life is too short"""

'Life is too short'

In [37]:
'''Life is too short'''

'Life is too short'

In [38]:
# " ", ' ', """  """, '''  ''' 모두 문자열

In [47]:
#문자열에 '(작은따옴표)를 쓰고 싶을 떄 (작은 따옴표 하나만 쓰는 건 안됨. 큰따옴표나 3개짜리 사용)
#큰 따옴표를 쓰고 싶을때는 반대로 사용
food = "Python's favorite food is perl"

In [48]:
food

"Python's favorite food is perl"

In [50]:
good = '"Hellow." he says.'

In [51]:
good

'"Hellow." he says.'

In [52]:
# 혹은 \ 사용

In [53]:
say = "\"Python is very easy.\" he says."

In [54]:
say

'"Python is very easy." he says.'

In [55]:
#줄 바꾸기 \n 사용

In [62]:
multiline1 = "Life is too short\nYou need python"

In [63]:
multiline1

'Life is too short\nYou need python'

In [64]:
#jupyter에서는 그냥 줄을 띄어서 적어도 된다
multiline = '''
Life is too short
You need python
'''

In [65]:
multiline

'\nLife is too short\nYou need python\n'

In [66]:
print(multiline)

Life is too short
You need python

In [67]:
print(multiline1)

Life is too short
You need python

In [68]:
############################################
#        문자열 
############################################

In [70]:
#   문자열 더하기
head = 'Python'
tail = ' is fun!'
head + tail

'Python is fun!'

In [71]:
#   문자열 곱하기
head * 2

'PythonPython'

In [74]:
print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [75]:
#   문자열 길이

In [76]:
a = 'Life is too short'

In [77]:
len(a)   # 컴퓨터는 빈칸도 글씨다.

17

In [78]:
a = 'Life is too short, You need Python'

In [79]:
a[5] # 파이썬은 0부터 시작이기 때문에 is의 i가 출력

'i'

In [83]:
a[-1] # -1은 맨 끝  -0 은 0 이기에 첫 글자 출력 (맨 뒤 부터는 -1부터 시작)

'n'

In [85]:
# 문자열 슬라이싱

In [86]:
a[0:4] # 0 이상 4 미만 꼭 0부터 시작하지 않아도 됨

'Life'

In [87]:
a[19:]

'You need Python'

In [88]:
a[:17]

'Life is too short'

In [89]:
a[:]

'Life is too short, You need Python'

In [90]:
a[19:-7]

'You need'

In [91]:
a = "20210210Rainy"

In [92]:
date = a[:8]

In [93]:
weather = a[8:]

In [94]:
date

'20210210'

In [96]:
weather

'Rainy'

In [97]:
year = a[:4]

In [98]:
day = a[4:8]

In [99]:
weather = a[8:]

In [100]:
year

'2021'

In [101]:
day

'0210'

In [102]:
weather

'Rainy'

In [112]:
#   문자열 포매팅  /숫자를 넣기 위해선 d  문자 1개를 넣기 위해선 c 문자열은 s 소수는 f
# %s 는 자동으로 모든 값을 문자열로 바뀜

In [106]:
"I eat %d apples." % 3

'I eat 3 apples.'

In [108]:
" I eat %s apples." % "five"

' I eat five apples.'

In [109]:
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [110]:
number = 10
day = 'three'
"I ate %d apples. so I was sick for %s days." %(number, day)

'I ate 10 apples. so I was sick for three days.'

In [114]:
"%10s" % "hi" # 10칸의 공객을 남겨 두라는 의미

'        hi'

In [115]:
"%-10sjane." % 'hi'

'hi        jane.'

In [116]:
"%0.4f" % 3.42134234 # 소수점 4번째 까지 표현하라는 뜻

'3.4213'

In [117]:
"%10.4f" % 3.42134234  # 10칸을 확보하고 소수점 4자리까지

'    3.4213'

In [120]:
#   formay 함수를 이용한 포매팅

In [121]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [124]:
number = 3 
"I eat {0} apples".format(number)

'I eat 3 apples'

In [127]:
number = 10
day = 'three'
"I ate {0} apples, so I was sick for {1} days.".format(number, day)

'I ate 10 apples, so I was sick for three days.'

In [129]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [130]:
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [131]:
"{0:<10}".format("hi")  #왼쪽 정렬 자릿수는 10

'hi        '

In [132]:
"{0:>10}".format("hi") # 오른쪽 정렬 10칸 띄고

'        hi'

In [133]:
"{0:^10}".format("hi") # 가운데 정렬

'    hi    '

In [134]:
# 문자열

In [135]:
a = "hobby"   
a.count('b')   # b의 개수 세기

2

In [137]:
a = "Python is the best choice"
a.find('b') # a의 위치 찾아주기

14

In [139]:
a.find('k') # 없으면 -1로 표시

-1

In [140]:
a = "Life is too short"
a.index('t') #위치 찾기

8

In [142]:
#  a.index('k')   없으면 에러가 뜸

In [143]:
",".join('abcd') # 각각의 문자 사이에 삽입

'a,b,c,d'

In [146]:
" ".join('abcd') # 빈칸을 넣을 때 사용

'a b c d'

In [147]:
a = "hi"
a.upper()  # 결과값을 대문자로 표시할 때 사용(차이점을 주기 위헤)

'HI'

In [148]:
a = "HI"
a.lower()

'hi'

In [151]:
a = " hi " #왼쪽 공백 지우기
a.lstrip()

'hi '

In [152]:
a.rstrip() #오른쪽 공백 지우기

' hi'

In [153]:
a.strip() #양쪽 공백 지우기

'hi'

In [154]:
a = "Life is too short"
a.replace("Life", "Your leg") # 다른단어로 교체할 때 사용

'Your leg is too short'

In [155]:
a = "Life is too short"
a.split()  # 문장을 자를 때 사용 (공백을 기준으로)

['Life', 'is', 'too', 'short']

In [157]:
b = "A:B:C:D"
b.split(":") # 현재의 경우는 : 를 기준으로 자르기

['A', 'B', 'C', 'D']

In [158]:
############################################
#        리스트
############################################

In [159]:
# 리스트 이름 = [요소1, 요소2, ....] 대괄호 주의!!!

a = []
b = [1, 2, 3]
c = ['life', 'is', 'too', 'short']
d = [1, 2, "life", 'is']  #리스트 안에 숫자와 문자를 같이 넣을 수 있음
e = [1, 2, ['life', 'is']] #리스트 안에 리스트를 넣을 수 있음

In [160]:
a = [1, 2, 3]
a

[1, 2, 3]

In [161]:
a[0]

1

In [162]:
a[0] + a[2]

4

In [163]:
a[-1]

3

In [168]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [169]:
a[0]

1

In [170]:
a[-1]

['a', 'b', 'c']

In [171]:
a[3]

['a', 'b', 'c']

In [172]:
a[-1][0]

'a'

In [173]:
a = [1, 2, 3, 4, 5]

In [175]:
a[0:2] # 2미만

[1, 2]

In [176]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b  # 리스트 간 더하기가 가능

[1, 2, 3, 4, 5, 6]

In [177]:
a = [1, 2, 3]
a * 3 # 리스트 반복하기 가능

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [178]:
len(a) # 리스트의 길이 구하기 가능

3

In [180]:
#  a[2] + 'hi'정수와 문자를 더하는건 안됨.
str(a[2]) + 'hi' # 이런식으로 표현하면 가능 str() 에 넣으면 문자형으로 변형되어 가능

'3hi'

In [185]:
# 튜플은 값을 수정 삭제가 불가능 하나 리스트는 가능하다
a = [1, 2, 3]
a[2] = 4

In [186]:
a

[1, 2, 4]

In [189]:
a = [1, 2, 3]
del a[2]

In [190]:
a

[1, 2]

In [191]:
a = [1, 2, 3, 4, 5]
del a[2:]

In [192]:
a

[1, 2]

In [193]:
# append 요소 추가 (많이 사용 함)

In [194]:
a = [1, 2, 3]
a.append(4)

In [195]:
a

[1, 2, 3, 4]

In [196]:
a.append([5, 6]) # 리스트 안에 리스트도 추가 가능
a

[1, 2, 3, 4, [5, 6]]

In [197]:
a = [1, 4, 3, 2] # 순서대로 정렬 가능
a.sort()
a

[1, 2, 3, 4]

In [198]:
a = ['a', 'c', 'b'] # 알파벳도 정렬 가능
a.sort()
a

['a', 'b', 'c']

In [199]:
a = ['a', 'c', 'b']

In [200]:
a.reverse() # 순서 뒤집기도 가능
a

['b', 'c', 'a']

In [202]:
a = ['a', 'c', 'b']
a.sort()
a.reverse()
a

['c', 'b', 'a']

In [205]:
a = ['a', 'b', 'c']

In [206]:
a.index('c') # 순서 찾기 가능

2

In [208]:
# a.index('d')  없는 걸 찾으면 에러가 뜸